@import "./glyphicons/glyphicons.css";
@import "./system_font.scss";
@import "./transitions.scss";
@import "./snackbar.scss";
@import "./notify.scss";
@import "./toolbar.scss";
@import url("https://fonts.googleapis.com/css?family=Titillium+Web");

html,
body {
  font-family: "Titillium Web", "system", sans-serif;
}

input,
label,
.btn {
  margin: 5px;
}

.has-error{
  color:red;
  border:1px solid red;
}

.split-screen {
  margin-top: 4.1rem;
  margin-bottom: 2.1rem;
  width: 100%;
  height: 100%;
  display: flex;
}

.split-screen--form {
  flex: 1 0 70%;
  height: 100%;
  overflow-y: auto;
}

.split-screen--toolbar {
  flex: 0 0 30%;
  height: 100%;
  overflow-y: auto;
}

.spacer {
  height: 2rem;
}

.pad {
  padding: 20px;
}

.btn,
.btn-lg,
.btn-md,
.btn-sm,
.btn-xs,
.btn-sml {
  padding: 5px !important;
  font-size: 0.9rem !important;
}

.objectType legend {
  margin-left: 0;
}

.objectType {
  border: 1px dashed #ddd;
  margin-top: 10px;
  padding: 20px;
}

.RichTextEditor {
  margin: 0;
}
legend,
.control-label {
  font-size: 0.8rem !important;
  color: #5c6f82;
}

.navbar {
  background: #fff;
  border-bottom: 1px solid #ddd;
}
