@import "./glyphicons/glyphicons.css";

// .split-screen {
//   border: 1px solid 333;
//   width: 100%;
//   height: 100vh;
//   display: flex;
//   overflow: hidden;
// }
// .split-screen--child {
//   flex: 1;
//   padding: 20px;
//   overflow-y: scroll;
// }

.noscroll {
  overflow: hidden;
}
.pad {
  padding: 20px;
}
.scrolly {
  overflow-y: auto;
}
