input,
label,
.btn {
  margin: 5px;
}
.split-screen {
  margin-top: 4.1rem;
  width: 100%;

  height: 100%;
  display: flex;
  overflow: hidden;
}
.split-screen--child {
  flex: 1;
  padding: 20px;
  height: 100%;
  overflow-y: scroll;
}

.noscroll {
  overflow: hidden;
}
.pad {
  padding: 20px;
}
.scrolly {
  overflow-y: scroll;
}
